{% extends 'AppClientes/padre.html' %}
{% load static %}

            {% block contenido %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Facturas</h1>
                        
                
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Lista de Facuras de {{ user }}
                            </div>
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Sabor</th>
                                            <th>Precio</th>
                                            <th>Peso</th>
                                            <th>Subtotal</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                             
                                    <tbody>
                                 
                                        {% for factura in facturas %}
                                        <tr>
                                            <td>{{ factura.cliente }}</td>
                                            <td>{{ factura.sabor }}</td>
                                            <td>${{ factura.precio }}</td>
                                            <td>{{ factura.peso }}</td>
                                            <td>${{ factura.subtotal }}</td>
                                            <td>{{ factura.fecha }}</td>
                                        </tr>
                                        {% endfor %}
                                   
                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock %}
                
           
