{% extends 'AppClientes/padre.html' %}
{% load static %}

            {% block contenido %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Pedidos Totales</h1>
                  
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Lista de Pedidos
                            </div>
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Sabor</th>
                                            <th>Cantidad</th>
                                            <th>Cliente</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                             
                                    <tbody>
                                        {% for pedido in pedidos %}
                                        <tr>
                                            <td>{{ pedido.sabor }}</td>
                                            <td>{{ pedido.cantidad }}</td>
                                            <td>{{ pedido.cliente }}</td>
                                            <td><div class="col-xl-auto col-md-1">
                                                <div class="card bg-danger text-white mb-4">
                                                    <a class="card-body" href="{% url 'pedidosborrarS' pedido.id %}">Eliminar</a>
                                                 
                                                </div>
                                            </div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock %}
                
           
