{% extends 'AppClientes/padre.html' %}
{% load static %}

            {% block contenido %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Pedidos</h1>
                        
                        <br>
                        <br>
                    
                            <a style="color: blue;" href="{% url 'pedidosagregar' %}">NUEVO PEDIDO</a>
                            <br>
                            <br>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Lista de Pedidos hechos por {{ user }}
                            </div>
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Sabor</th>
                                            <th>Cantidad</th>
                                          
                                        </tr>
                                    </thead>
                             
                                    <tbody>
                                 
                                        {% for pedido in pedidos %}
                                        <tr>
                                            <td>{{ pedido.sabor }}</td>
                                            <td>{{ pedido.cantidad }}</td>
                                           
                                            
                                        </tr>
                                        {% endfor %}
                                   
                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock %}
                
           
