{% extends 'AppClientes/padre.html' %}
{% load static %}

            {% block contenido %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Precios</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Nuevo Sabor</li>
                        </ol>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <table>
                                    {{ form.as_table }}
                                </table>
                                    <input type="submit" value="Agregar">
                            </form>
                            <br>


                        <!--
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Lista de Precios</li>
                        </ol>
                        {% for sabor in sabores %}
                        <tr>
                            <td>
                                {{ sabor.nombre}}
                            </td>
                            <td>
                                ${{ sabor.precio}}
                            </td>
                            <td>
                                
                                    <div class="col-xl-1 col-md-1">
                                        <div class="card bg-primary text-white mb-4">
                                            <a class="card-body" href="#">Editar</a>
                                         
                                        </div>
                                    </div>
                                    <div class="col-xl-1 col-md-1">
                                        <div class="card bg-danger text-white mb-4">
                                            <a class="card-body" href="#">Eliminar</a>
                                         
                                        </div>
                                    </div>
                                
                            </td>
                            <br>
                        </tr>

                        {% endfor %}

-->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Lista de Precios
                            </div>
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Editar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                             
                                    <tbody>
                                        {% for sabor in sabores %}
                                        <tr>
                                            <td>{{ sabor.nombre}}</td>
                                            <td>${{ sabor.precio}}</td>
                                            <td><div class="col-xl-auto col-md-1">
                                                <div class="card bg-primary text-white mb-4">
                                                    <a class="card-body" href="#">Editar</a>
                                            </div></td>
                                            <td><div class="col-xl-auto col-md-1">
                                                <div class="card bg-danger text-white mb-4">
                                                    <a class="card-body" href="#">Eliminar</a>
                                                 
                                                </div>
                                            </div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock %}
                
           
