{% extends 'AppClientes/padre.html' %}
{% load static %}

{% block contenido %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Inbox</h1>
      
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Detalle Mensaje
                </div>
                
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Emisor</th>
                                <th>Receptor</th>
                                <th>Texto</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                 
                        <tbody>
                            
                            
                                <td>{{ mensaje.emisor }}</td>
                                <td>{{ mensaje.receptor }}</td>
                                <td>{{ mensaje.texto }}</td>
                                <td>{{ mensaje.fecha }}</td>
                                <td><div class="col-xl-auto col-md-1">
                                    <div class="card bg-secondary text-white mb-4">
                                        <a class="card-body" href="{% url 'inbox' %}">Volver</a>
                                     
                                    </div>
                                </div></td>
                          
                            
                        </tbody>
                    </table>
                
                </div>
            </div>
        </div>
    </main>
    {% endblock %}