{% extends 'AppMain/padre.html' %}
{% load static %}

{% block titulo %}
<h1 class="display-1 lh-1 mb-3">Helado Artesanal</h1>
<p class="lead fw-normal text-muted mb-5">La más alta calidad.<br>Elaborados con ingredientes naturales.</p>
<div class="d-flex flex-column flex-lg-row align-items-center">
{% endblock %}

{% block titulo_imagen %}
<img src="{% static 'AppMain/assets/img/elaboracion2.png' %}" alt="elaboracion2">
{% endblock %}

{% block desarrollo %}
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-4">
                <!-- Features section device mockup-->
                <img src="{% static 'AppMain/assets/img/servicios.jpeg' %}" alt="Servicios">
            </div>
            <div class="col-lg-4">
                <!-- Features section device mockup-->
                <img src="{% static 'AppMain/assets/img/servicios2.jpeg' %}" alt="Servicios">
            </div>
            <div class="col-lg-4">
                <!-- Features section device mockup-->
                <img src="{% static 'AppMain/assets/img/responsabilidad.jpeg' %}" alt="Servicios">
            </div>
        </div>
    </div>
</section>
{% endblock %}
