{% extends 'AppMain/padre.html' %}
{% load static %}

{% block titulo %}
<h1 class="display-1 lh-1 mb-3">Helado Artesanal</h1>
<p class="lead fw-normal text-muted mb-5">La más alta calidad.<br>Elaborados con ingredientes naturales.</p>
<div class="d-flex flex-column flex-lg-row align-items-center">
{% endblock %}

{% block titulo_imagen %}
<img src="{% static 'AppMain/assets/img/elaboracion2.png' %}" alt="elaboracion2">
{% endblock %}

{% block separador_violeta %}
<div class="h2 fs-1 text-white mb-4">NOVEDADES</div>
{% endblock %}

{% block desarrollo %}
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-4">
                <!-- Features section device mockup-->
                <img src="{% static 'AppMain/assets/img/servicios.jpeg' %}" alt="Servicios">
            </div>
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Nuevos Sabores</h3>
                                <p class="text-muted mb-0">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-camera icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Promos</h3>
                                <p class="text-muted mb-0">Put an image, video, animation, or anything else in the screen!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-gift icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Lista de precios</h3>
                                <p class="text-muted mb-0">As always, this theme is free to download and use for any purpose!</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Open Source</h3>
                                <p class="text-muted mb-0">Since this theme is MIT licensed, you can use it commercially!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}


{% block direccion %}
<section class="cta">
    <div class="cta-content">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h3 class="text-white display-4 lh-1 mb-1">Dirección</h3>
                    <p class="text-white lead fw-normal mb-5 mb-lg-0">Sanabria 3317<br> CP C1417AZY (CABA)</p>
                    <br>
                    <h3 class="text-white display-4 lh-1 mb-1">Contacto</h3>
                    <p class="text-white lead fw-normal mb-5 mb-lg-0">Cel: 011 6601-8892</p>
                </div>
                <div class="col-sm-8 col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4403.78102214645!2d-58.508938758255766!3d-34.60673499175255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7d20f16c93b%3A0x43d4d940595f1f19!2sMoccachino%20Helados!5e0!3m2!1ses-419!2ses!4v1683131037877!5m2!1ses-419!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}