{% extends 'AppMain/padre.html' %}
{% load static %}

{% block titulo %}
<h1 class="display-1 lh-1 mb-3">LOGIN</h1>
<p class="lead fw-normal text-muted mb-5">Helados con la más alta calidad, elaborados a través de procesos artesanales utilizando ingredientes naturales para lograr el mejor producto.</p>
<div class="d-flex flex-column flex-lg-row align-items-center">
{% endblock %}

{% block titulo_imagen %}
<img src="{% static 'AppMain/assets/img/elaboracion.jpeg' %}" width="500" height=auto pythonalt="elaboracion">
{% endblock %}

{% block separador_violeta %}
<div class="h2 fs-1 text-white mb-4">Promociones</div>
{% endblock %}

{% block desarrollo %}

{% endblock %}