{% load static %}
<!DOCTYPE html>
<html>
  

<head>
	<link rel="stylesheet" href="{% static 'AppMain/css/pure-min.css' %}" >
	<title>My Blog</title>
</head>

<body>
	<div class="pure-g">
		<style>
            .l-box {
                padding: 1em;
            }
        </style>
		<div class="pure-u-3-3">
			
			<div class="pure-g">
				<div class="pure-u-1-1">
					<div class="l-box">
						<h2>Feature 1</h2>
						<p>
							The website offers a variety
							of articles and tutorials
							on different programming
							languages,data structures, and
							algorithms, making it a great
							resource for anyone looking
							to improve their coding skills.
							The website also provides a
							platform for users to test
							their skills by solving
							practice problems, which are
							accompanied by detailed
							solutions and explanations.
						</p>
						<a href="#" class="pure-button">
							Read More
						</a>
					</div>
				</div>
				<div class="pure-u-1-1">
					<div class="l-box">
						<h2>Feature 2</h2>
						<p>
							Additionally, GeeksforGeeks has
							a large and active community
							of users who can share their
							knowledge and help others
							with their coding problems.
							Another great functionality
							of GeeksforGeeks is its user-
							friendly interface and
							easy navigation.
						</p>
						<a href="#" class="pure-button">
							Read More
						</a>
					</div>
				</div>
				<div class="pure-u-1-1">
					<div class="l-box">
						<h2>Article 3</h2>
						<p>
							The website is well-organized
							and easy to navigate, making
							it easy for users to find the
							information they need. The
							articles and tutorials are
							well-written and easy to
							understand, making them
							accessible to users of all
							skill levels. The website also
							has a search bar, which allows
							users to quickly find specific
							information or topics.
						</p>
						<a href="#" class="pure-button">
							Read More
						</a>
					</div>
				</div>
                <div class="pure-u-1-1">
					<div class="l-box">
						<h2>Article 4</h2>
						<p>
							The website is well-organized
							and easy to navigate, making
							it easy for users to find the
							information they need. The
							articles and tutorials are
							well-written and easy to
							understand, making them
							accessible to users of all
							skill levels. The website also
							has a search bar, which allows
							users to quickly find specific
							information or topics.
						</p>
						<a href="#" class="pure-button">
							Read More
						</a>
					</div>
				</div>
                <div class="pure-u-1-1">
					<div class="l-box">
						<h2>Article 4</h2>
						<p>
							The website is well-organized
							and easy to navigate, making
							it easy for users to find the
							information they need. The
							articles and tutorials are
							well-written and easy to
							understand, making them
							accessible to users of all
							skill levels. The website also
							has a search bar, which allows
							users to quickly find specific
							information or topics.
						</p>
						<a href="#" class="pure-button">
							Read More
						</a>
					</div>
				</div>
                <div class="pure-u-1-1">
					<div class="l-box">
						<h2>Article 4</h2>
						<p>
							The website is well-organized
							and easy to navigate, making
							it easy for users to find the
							information they need. The
							articles and tutorials are
							well-written and easy to
							understand, making them
							accessible to users of all
							skill levels. The website also
							has a search bar, which allows
							users to quickly find specific
							information or topics.
						</p>
						<a href="#" class="pure-button">
							Read More
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

